<h1>Concerts Tracker</h1>
<br></br>
<h2>Sign Up</h2>
<br></br>

<form action="/signup" method="post">
  <p>Email: <input type="text" name="email"></p>
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Sign Up">
</form>
