<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>

<h2>Add a Concert to you Database</h2>

<form action="/concerts" method="post">

  <p>Band: <input type="text" name="band"></p>
  <br></br>

  <p>Venue: <input type="text" name="venue"></p>
  <br></br>

  <p>Date: <input type="date" name="date"></p>
  <br></br>

  <input class="btn btn-primary" type="submit" value="submit">
</form>
