<h1>Welcome to Concert Tracker</h1>
<br>
<h2>You can finally empty that drawer of ticket stubs (even though you never will)!</h2>
<br>

<p> You may
  <a href="/signup">Sign Up</a>
  or
  <a href="/login">Log In</a>
</p>
